{% extends "base.html" %}
{% block content %}
{% include "logout_footer.html" %}
<div class="center shadow rounded color-secondary" style="width:fit-content; margin:0 auto">
    <p class="header container color-main center rounded-top-small">Error</p>
    <div class="describe center" style="padding-left:2em; padding-right:2em">Cannot restore backup when server is
        online.
    </div>
    <div style="padding:2em; padding-left:4em; padding-right:4em">
        <form action="/server" method="get">
            <button type="submit" class="button color-main center">Return</button>
        </form>
    </div>
</div>
{% endblock %}