{% extends "base.html" %}
{% block content %}
<div class="center shadow rounded color-secondary" style="width:fit-content; margin:0 auto">
    <p class="header container color-main center rounded-top-small">Web Console Login</p>
    <div class="describe center" style="padding-left:10em; padding-right:10em">Enter admin password to
        view servers
    </div>
    <div style="padding-left:10em; padding-right:10em; ">
        <form action="/verify" class="container" method="post">
            <input type="hidden" name="password_entry" />
            <p id="secret"><input class="input center" placeholder="Password" name="password" type="password"></p>
            <button type="submit" class="button color-main center">Submit</button>
            <p> </p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </form>
    </div>
</div>
{% endblock %}