{% extends "base.html" %}
{% block content %}
{% include "logout_footer.html" %}
<div class="center shadow rounded color-secondary" style="width:100%; margin:0">
    <p class="header container color-main center rounded-top-small" style="margin:0">Console - {{ get_server_name() }}
    </p>
    <div style="height:70vh; overflow-y:auto">
        <div id="consolebox" class="describe"
            style="padding-top:0; padding-bottom:0; padding-left:1em; padding-right:1em; text-align:start">
            {% with logs = get_server_log() %}
            {% for log in logs %}
            <p>{{ log }}</p>
            {% endfor %}
            {% endwith %}
        </div>
    </div>
    <script>
        document.getElementById("consolebox").lastElementChild.scrollIntoView();
        window.scrollTo(0, 0);
    </script>
    <div class="border-top" style="padding-top:0.5em; padding:1em; white-space:nowrap">
        <input id="commandentry" name="commandentry" class="input" placeholder="Enter command" type="text"
            style="width:50%; display:inline-block"></input>
        <button id="commandbutton" type="button" class="button color-main center padding:1em"
            style="margin-left:1em; display:inline-block">Send</button>
    </div>
</div>

<div class="center" style="width:100%; margin:0; margin-top:1em; margin-bottom:5em">
    <div class="center shadow rounded color-secondary" style="margin-bottom:1em">
        <p class="header container color-main center rounded-top-small" style="margin:0">Status and Commands</p>
        <div style="height:fit-content; overflow-y:auto">
            <div class="title" style="margin:1em">
                <span>Server Status: </span>
                <span style="width:50%; padding-left:1em; padding-right:1em">{{ get_server_status() }}</span>
            </div>
            <form action="/server" method="post" style="margin-bottom:0.5em">
                <button name="statusbutton" type="submit" class="button color-main center" value="stop">Stop</button>
                <button name="statusbutton" type="submit" class="button color-main center" value="start">Start</button>
                <button name="statusbutton" type="submit" class="button color-main center"
                    value="refresh">Refresh</button>
                <button name="statusbutton" type="submit" class="button color-main center" value="return">Return to
                    List</button>
            </form>
        </div>
    </div>
    <div class="center shadow rounded color-secondary">
        <p class="header container color-main center rounded-top-small" style="margin:0">Settings</p>
        <div style="height:60vh; overflow-y:auto">
            TODO: two columns, load dict for server.properties and obsidia.conf
        </div>
    </div>
</div>
{% endblock %}