{% extends "base_loggedin.html" %}
{% block content %}
<div class="center shadow rounded color-secondary" style="width:fit-content; margin:0 auto">
    <p class="header container color-main center rounded-top-small">Server List</p>
    <div class="describe center" style="padding-left:10em; padding-right:10em">Select server to manage
    </div>
    <div style="padding:2em; padding-left:10em; padding-right:10em">
        <form action="/selectserver" method="post">
            <select name="serverselection" id="serverselection" class="color-secondary shadow">
                {% with servers = get_server_list() %}
                {% for server in servers %}
                <option value="{{ server }}">{{ server }}</option>
                {% endfor %}
                {% endwith %}
            </select>
            <p></p>
            <button type="submit" class="button color-main center">View</button>
        </form>
    </div>
</div>
{% endblock %}