{% extends "base.html" %}
{% block content %}
{% include "logout_footer.html" %}
<div class="center shadow rounded color-secondary" style="width:83%; margin:0; float:left">
    <p class="header container color-main center rounded-top-small" style="margin:0">Console - {{ get_server_name() }}
    </p>
    <div style="height:85vh; overflow-y:auto">
        <div id="consolebox" class="describe"
            style="padding-top:0; padding-bottom:0; padding-left:1em; padding-right:1em; text-align:start">
            {% with logs = get_server_log() %}
            {% for log in logs %}
            <p>{{ log }}</p>
            {% endfor %}
            {% endwith %}
        </div>
    </div>
    <script>
        document.getElementById("consolebox").lastElementChild.scrollIntoView();
        window.scrollTo(0, 0);
    </script>
    <form action="/server" method="post" class="border-top"
        style="padding-top:1em; padding-bottom:1em; white-space:nowrap">
        <input id="commandentry" name="commandentry" class="input" placeholder="Enter command" type="text"
            style="width:70%; display:inline-block"></input>
        <button name="commandbutton" type="submit" class="button color-main center"
            style="margin-left:2em; display:inline-block">Send</button>
    </form>
</div>

<div class="center" style="width:16%; margin:0; float:right">
    <div class="center shadow rounded color-secondary" style="margin-bottom:1em">
        <p class="header container color-main center rounded-top-small" style="margin:0">Status and Commands</p>
        <div style="height:fit-content; overflow-y:auto">
            <div class="title" style="margin:1em">
                <p>Server Status: </p>
                <p>{{ get_server_status() }}</p>
            </div>
            <form action="/server" method="post" class="center" style="margin:1em">
                <button name="statusbutton" type="submit" class="button color-main center" style="margin:1em"
                    value="stop">Stop</button><br>
                <button name="statusbutton" type="submit" class="button color-main center" style="margin:1em"
                    value="start">Start</button><br>
                <button name="statusbutton" type="submit" class="button color-main center" style="margin:1em"
                    value="refresh">Refresh</button><br>
                <button name="statusbutton" type="submit" class="button color-main center" style="margin:1em"
                    value="return">Return to List</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}