a {
    background-color: transparent
}

img {
    border-style: none
}

button, input, select, textarea, optgroup {
    font: inherit;
    margin: 0
}

html, body {
    font-family: Verdana, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: #ffffff;
    background-color: #1e1e1e
}

.container {
    padding: 0.1em
}

.color-main {
    color: #ffffff !important;
    background-color: #a11818 !important
}

.color-secondary {
    color: #ffffff !important;
    background-color: #a11818 !important
}

.input {
    padding: 0.5em;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    color: inherit;
    background-color: inherit;
    width: 100%
}

.animate-input {
    transition: width 0.4s ease-in-out
}

.animate-input:focus {
    width: 100% !important
}

.center {
    text-align: center !important
}

.button {
    border: none;
    border-radius: 1em;
    display: inline-block;
    padding: 0.75em 1.5em;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.button:hover {
    opacity: 0.8
}

.shadow {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.16), 0 0.25em 1.25em 0 rgba(0, 0, 0, 0.12)
}

.shadow-card {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.16), 0 0.25em 1.25em 0 rgba(0, 0, 0, 0.12)
}

.shadow-card:hover {
    box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2), 0 0.5em 1.25em 0 rgba(0, 0, 0, 0.19)
}